page-trip-detail,
.trip-detail {

  ul.highlight {
    padding-left: 0;
    font-size: 1.2rem;
    list-style: none;
    li {
      margin-bottom: 1rem;
    }
  }

  // change text-sm size
  .text-sm {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
